<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/wiki.css">
  </head>
  <body>
    <nav>
        <ul>
            <li><a href="/wiki/home">Home</a></li>
            <li><a href="/wiki/work-policy">Work Policy</a></li>
            <li><a href="/wiki/contributing-guidelines">Contributing Guidelines</a></li>
            <li><a href="/wiki/deployment-plan">Deployment Plan</a></li>
            <li><a href="/wiki/release-date-policies">Release Date Policies</a></li>
            <li><a href="/wiki/create-task-plans">Create Task Plans</a></li>
        </ul>
    </nav>

    {{ content }}
  </body>
</html>