<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <!-- <nav>
        <ul>
            <li><a href="/wiki/home">Home</a></li>
            <li><a href="/wiki/work-policy">Work Policy</a></li>
            <li><a href="/wiki/contributing-guidelines">Contributing Guidelines</a></li>
            <li><a href="/wiki/deployment-plan">Deployment Plan</a></li>
            <li><a href="/wiki/release-date-policies">Release Date Policies</a></li>
            <li><a href="/wiki/create-task-plans">Create Task Plans</a></li>
        </ul>
    </nav> -->

    - (Home)[/wiki/home]
    - (Work Polcy)[/wiki/work-policy]
    - (Contributing Guidelines)[/wiki/contributing-guidelines]
    - (Deployment Plan)[/wiki/deployment-plan]
    - (Release Date Policies)[/wiki/release-date-policies]
    - (Create Task Plans)[/wiki/create-task-plans]

    {{ content }}
  </body>
</html>